.foods_sale_order {
    // [data-id="discount"]{width: 5%;}
    // [data-id="product_uom_qty"]{width: 7%;}
    // [data-id="qty_delivered"]{width: 7%;}
    // [data-id="qty_invoiced"]{width: 10%;}
    // [data-id="price_unit"]{width: 10%;}
    // [data-id="tax_id"]{width: 10%;}
    [data-id="product_uom"]{width: 5%;}
    [data-id="product_uom_qty"]{width: 7%;}
    [data-id="price_unit"]{width: 10%;}
}
